!!! html5
%html
  %head
    %title Wedding
    = stylesheet_link_tag "application", media: 'all'
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .header.parallax-bar
      .header-container
        = link_to "Lajja + Arun", "", :class=> 'logo', style: "background:url('#{image_path('wedding-logo-light.png')}') no-repeat;background-size: contain;"
        .mobile-btn
        .clear
        -# %ul
        -#   = link_to event_exhibitors_path(@event) do
        -#     %li.nav-button
        -#       .nav-icon-bg.nav-icon-startups
        -#       %p.nav-text Startups
        -#       .clear
        -#   = link_to event_sponsors_path(@event) do
        -#     %li.nav-button
        -#       .nav-icon-bg.nav-icon-sponsors
        -#       %p.nav-text Sponsors
        -#       .clear
        -#   = link_to event_why_exhibit_path(@event) do
        -#     %li.nav-button
        -#       .nav-icon-bg.nav-icon-exhibit
        -#       %p.nav-text Exhibit
        -#       .clear
        -#   =link_to start_event_attendees_path(@event) do
        -#     %li.nav-button
        -#       .nav-icon-bg.nav-icon-attend
        -#       %p.nav-text Attend
        -#       .clear
        -#   = link_to event_blog_path(@event) do
        -#     %li.nav-button
        -#       .nav-icon-bg.nav-icon-blog
        -#       %p.nav-text Blog
        -#       .clear
        -#   = link_to event_contact_path(@event) do
        -#     %li.nav-button.nav-margin-fix
        -#       .nav-icon-bg.nav-icon-contact
        -#       %p.nav-text Contact
        -#       .clear
        -# .clear
    = yield
:javascript
  WebFontConfig = {
    google: { families: [ 'Anton::latin', 'Shadows+Into+Light::latin', 'Droid+Serif::latin', 'Oswald::latin', 'Amatic+SC::latin', 'Love+Ya+Like+A+Sister::latin' ] }
  };
  (function() {
    var wf = document.createElement('script');
    wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
    '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
    wf.type = 'text/javascript';
    wf.async = 'true';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(wf, s);
  })();
